<h1>Entrar</h1>
<form action="/auth/login" method="POST">
    <label for="email">E-mail:</label>
    <input type="email" name="email" required>

    <label for="password">Senha:</label>
    <input type="password" name="password" required>

    <button type="submit">Entrar</button>
</form>