<h1>aqui será feito o registro em breve </h1>
<div class="auth-container">
    <h2>Registrar</h2>
    <form action="/register" method="post">
     <div class="form-control">
        <label for="name"> Nome: </label>
        <input type="text" name="name" placeholder="Informe seu nome:" required>
     </div> 
      <div class="form-control">
        <label for="name"> E-mail: </label>
        <input type="text" name="emai" placeholder="Informe seu e-mail:" required>
     </div> 
      <div class="form-control">
        <label for="name"> Senha: </label>
        <input type="text" name="name" placeholder="Informe sua senha:" required>
     </div> 
      <div class="form-control">
        <label for="name"> Repita sua Seha: </label>
        <input type="text" name="name" placeholder="Informe novamente pra o cadastrado:" required>
     </div> 
       <input type="submit" value="Cadastrar">
        <p>Já tem conta? <a href="/login">Clique aqui</a></p>
    </form>
</div>