<div class="auth-container">
    <h2>Registrar</h2>
    <form action="/register" method="POST">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Informe seu nome" required > 
        </div>
         <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Informe seu email" required > 
        </div>
         <div class="form-control">
            <label for="password">Nome:</label>
            <input type="password" name="password" placeholder="Informe sua senha" required > 
        </div>
         <div class="form-control">
            <label for="confirmpassword">Confirmação de sehna:</label>
            <input type="confirmpassword" name="confirmpassword" placeholder="Confirme sua senha:" required > 
        </div>
        <input type="submit" value="Cadastrar">
        <p>Já tem conta? <a href="/login"> sua Conta </a></p>
    </form>
</div>